.AccountBalance {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: .1rem;
    border-bottom-style: solid;
    border-bottom-color: white;
    font-weight: bold;
    background-color: rgb(12, 12, 167);
    align-items: flex-start;
    display: flex;
}

.BalanceButton {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: .25rem;
    font-weight: bold;
}